/*paleta de cores*/
:root{
    --color4: #3368b3;
    --color2: #ecde73;
    --fundo: #ced6e0;
    --categoria: #ffcb9a;

    --color1: #ffbb9a;
    --color3: #091fb4;
    --color5: #3ecbff;
    
    --primary: #298519;
    --secundary: #319287;
    --secundary-dark: #034d45;
    --grey-0: #000;   
    --grey-200: #181818;
    --grey-400: #414141;
    --grey-600: #818181;
    --grey-800: #d3d3d3;
    --grey-1000:#fff;

    --color-primary-5: #56AB89;
    --color-primary-3: #2E795B;
    --color-primary-4: #0F3526;
}

*{
    font-family: 'Bree Serif', serif;
}

/*mini reset*/
body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 216, 216);;
}

header{
    background-color: #3eccff48;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*cor da navbar*/
.bg-faded{
    background-color: #0368f684;
}

#logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

h1{
    color: black;
}

.nav-link{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.active {
    border-bottom: 3px solid black;
}

/* Div com os botões categoria e ver tudo alinhados */
.botoes_categoria{
    display: flex;
}

.categoria {
    background-color: var(--color2);
}

img.categoria{
    border-radius: 200px;
}

.cat{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-around;
    padding: 15px 35px 35px 35px;
}

h3.categoria {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
    border-left: 5px solid rgb(233, 115, 18);
    padding: 5px;
}

.sign-in, .sign-up, .btn-light, .form-control {
    border-radius: 12px;
    background-color: rgb(219, 216, 216);
    border:  2px solid rgb(241, 238, 238);
    padding: 3px 9px;
}

.btn-light:hover{
    background-color: rgb(175, 241, 180);
    border:  2px solid rgb(175, 241, 180);
}

.sign-in:hover{
    background-color: rgb(123, 212, 253);
    border:  2px solid rgb(123, 212, 253);
}

.sign-up:hover{
    background-color: rgb(118, 223, 127);
    border:  2px solid rgb(118, 223, 127);
}

/*scroll*/
.cat::-webkit-scrollbar {
    height: 10px;               /* width of the entire scrollbar */
  }
.cat::-webkit-scrollbar-track {
    background: var(--grey-400);        /* color of the tracking area */
  }
  
.cat::-webkit-scrollbar-thumb {
    background-color: var(--grey-600);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

/*card*/
.card-rodape-empresa{
    font-size: 0.7rem;
}

#festas, #palestras, #halloween, #standUP, #workshops{
    margin: 10px;
    display: flex;
    overflow-x: auto;
    padding: 0;
}

.verMais{
    font-size: 12px;
    margin-bottom: 10px;
    border:0;
    border-radius: 15px;
    background-color: #298519;
    color: #000;
    padding: 3px 10px;
}

.vaga {
    margin-bottom: 10px;
    font-size: 12px;
    background-color: rgb(187, 27, 27);
    border-radius: 15px;
    border: 0;
    padding: 5px;
}

h2{
    margin-left: 30px;
    border-left: 5px solid rgb(233, 115, 18);
    padding: 5px;
}

.btn-outline-light{
    margin-top: 5px;
}

footer.footer{
    font-family:Arial, Helvetica, sans-serif;
}

/*modal*/
.modal{
    background-color: #0c0c0c85;
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.modal .modal-body{
    top: 20px;
    max-width: 600px;
    border-radius: 15px;
    background: var(--grey-1000);
    color: var(--grey-0);
    padding: 30px 20px;
}

.modal .modal-body form{
    display: flex;
    flex-direction: column;
}

.modal .modal-body form label{
    margin: 15px 0 0 0;
}

.modal .modal-body form input[type=text],[type=email],[type=cpf],[type=date]{
    height: 30px;
    padding: 3px 5px;
    border-radius: 10px;
}

.modal .modal-body form button{
    margin: 15px 0 0 0;
}

@media screen and (max-width: 600px){
    .card{
        width: 200px;
    }
}

.wrapper1{
    color: black;
}
.card{
    background-color: rgb(255, 212, 147);
    width: 100%;
    height: 850px;
    border-radius: 30px;
}

.card-img-top{
    height: 200px;
}

.card-body1{
    height: 150px;
    overflow-y: auto;
}

.card-body1 > h5{
    text-align: center;
}

.card-body2{
    height: 90px;
    overflow-y: auto;
}

.list-group{
    padding: 10px;
    height: 270px;
    overflow-y: auto;
}
    
.list-group-item{
    background-color: rgb(255, 212, 147);
}

/*personalizar a barra em geral*/
.list-group::-webkit-scrollbar {
    width: 1px;
}

.card-body1::-webkit-scrollbar {
    width: 1px;
}

.card-body2::-webkit-scrollbar {
    width: 1px;
}

span{
    color: var(--color4);
}

.sair{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(219, 216, 216);
    border:  2px solid rgb(241, 238, 238);
}

.sair:hover {
    text-decoration: none;  
}